
<style media="screen">
   h1,h2,h3,h4,h5,h6 {
      text-align: center;
   }
   .text-success {
      color: #228b22;
   }
   .mdl-button-success {
      background-color: #228b22;
      color: white;
   }
   .mdl-button-alert {
      background-color: #cd0000;
      color: white;
   }
</style>
<div class="mdl-grid">
   <div class="mdl-cell mdl-cell--12-col">
      <h3>Admin Dashboard</h3>
   </div>
</div>
<div class="mdl-grid">
   <div class="mdl-cell mdl-cell--6-col mdl-shadow--2dp mdl-card">
      <div class="mdl-card__title">
         MESSAGES
      </div>
      <div class="mdl-card__supporting-text">
         <? if(typeof message != 'undefined') { ?>
         <p class="text-info"><?- message ?></p>
         <? }else{ ?>
         <p class="text-info">No messages</p>
         <? } ?>
      </div>
   </div>
   <div class="mdl-cell mdl-cell--6-col mdl-shadow--2dp mdl-card">
      <div class="mdl-card__title">
         ERRORS
      </div>
      <div class="mdl-card__supporting-text">
         <? if(typeof error != 'undefined') { ?>
         <p>Error: <span class="text-danger"><?- error ?></span></p>
         <? }else{ ?>
         <p class="text-success">No errors</p>
         <? } ?>
         <? var count = 1; ?>
      </div>
   </div>
</div>

<div class="mdl-grid">
   <div class="mdl-cell mdl-cell--10-col">
      <form class="" action="/admin/create/player" method="get">
         <button type="submit" name="createPlayer" class="mdl-button mdl-button--raised mdl-button--accent">Create Player +</button>
      </form>
      <table class="mdl-data-table">
         <thead>
            <tr>
               <th class="mdl-data-table__cell--non-numeric">#</th>
               <th class="mdl-data-table__cell--non-numeric">First Name</th>
               <th class="mdl-data-table__cell--non-numeric">Last Name</th>
               <th class="mdl-data-table__cell--non-numeric">Email</th>
               <th class="mdl-data-table__cell--non-numeric">Role</th>
               <th></th>
               <th></th>
            </tr>
         </thead>
         <tbody>
            <? var groups = _.groupBy(players, 'role'); ?>
            <? var admins = _.sortBy(groups.admin, 'lastName'); ?>
            <? var others = _.sortBy(groups.basic, 'lastName'); ?>
            <? players = admins; _.forEach(others, function(o) {players.push(o)}) ?>
            <? players.forEach(function(player) { ?>
               <tr>
                  <th><?= count++ ?></th>
                  <td class="mdl-data-table__cell--non-numeric"><?= player.firstName ?></td>
                  <td class="mdl-data-table__cell--non-numeric"><?= player.lastName ?></td>
                  <td class="mdl-data-table__cell--non-numeric"><?= player.email ?></td>
                  <td class="mdl-data-table__cell--non-numeric"><?= player.role ?></td>
                  <form action="/admin/update?uuid=<?= player.uuid ?>" method="post">
                     <td>
                        <button type="submit" class="mdl-button mdl-button--raised mdl-button-success">edit</button>
                     </td>
                  </form>
                  <form action="/admin/delete/player" method="post">
                     <td>
                        <button type="submit" class="mdl-button mdl-button-raised mdl-button-alert">delete</button>
                     </td>
                     <input type="hidden" name="uuid" value="<?= player.uuid ?>">
                  </form>
               </tr>
               <? }) ?>
            </tbody>
      </table>
   </div>
   <div class="mdl-cell mdl-cell--2-col">

   </div>
</div>
