<div class="page-wrap">
   <div class="page-header">
      <? if (typeof updatee == 'undefined') { ?>
         <h3>Oops, <small class="text-muted">there was a problem...</small></h3>
         <p class="lead">Click <a href="/login">here</a> to log back in.</p>
      <? }else{ ?>
      <div class="container">
         <h1>Edit User: <?= updatee.firstName ?></h1>
      </div>
   </div>
   <div class="container">
      <table class="table table-default">
         <thead>
            <tr>
               <th class="col-md-3">first name</th>
               <th class="col-md-3">last name</th>
               <th class="col-md-3">email</th>
               <th class="col-md-2">role</th>
               <th class="col-md-1"></th>
            </tr>
         </thead>
         <tbody>
            <tr>
               <div class="form-group">
                  <form onsubmit="return confirm('Really update player?')" action="/admin/update/player" method="post">
                     <td><input class="form-control" type="text" name="firstName" value="<?= updatee.firstName ?>"></td>
                     <td><input class="form-control" type="text" name="lastName" value="<?= updatee.lastName ?>"></td>
                     <td><input class="form-control" type="text" name="email" value="<?= updatee.email ?>"></td>
                     <td>
                        <label class="radio-inline control-label">
                           <? var role = updatee.role; var alt = role == 'admin' ? 'basic' : 'admin' ?>
                           <input type="radio" name="roles[]" value="<?= role ?>" checked>
                           <?= role ?>
                           <br>
                           <input type="radio" name="roles[]" value="<?= alt ?>">
                           <?= alt ?>
                        </label>
                     </td>
                     <td><button class="btn btn-primary" type="submit">Submit</button></td>
                     <input type="hidden" name="uuid" value="<?= updatee.uuid ?>">
                  </form>
               </div>
            </tr>
         </tbody>
      </table>
   </div>
   <? } ?>
</div>
