<style media="screen">
   .container {
      padding-right: 15px;
      padding-left: 15px;
      margin-right: auto;
      margin-left: auto;
   }
</style>

<div class="mdl-grid">
   <div class="mdl-cell mdl-cell--12-col">
      <h5>{%= user.firstName %}'s Dashboard</h5>
   </div>
</div>
<div class="mdl-grid">
   <div class="mdl-cell mdl-cell--12-col mdl-shadow--2dp">
		<p>Name {%= user.firstName + ' ' + user.lastName %}</p>
      <p>Username {%= user.username %}</p>
		<p><h5>Email</h5> {%= user.email%}</p>
   </div>
</div>
