<div class="page-wrap">
  <div class="container">
    <div class="page-header">
       <h1>{{ user.firstName + '\'s' }}Dashboard</h1>
    </div>
    <div class="container">
        <form class="" action="/logout" method="post">
            <button type="submit" name="button">Logout</button>
        </form>
    </div>
  </div>

</div>
