<!-- Footer.ejs -->

<div class="container-fluid site-footer">
    <div class="container-footer">
        <div class="row">
            <div class="col-md-4 text-center">
                <p class="lead">FooStats.com</p>
            </div>
            <div class="col-md-4 text-center">
                <p class="lead">Developed and maintained by Craig Blackburn</p>
            </div>
            <div class="col-md-4 text-center">
                <p class="lead">Hosted by heroku.com</p>
            </div>
        </div>
    </div>
</div>
