<!DOCTYPE html>

<html lang="en">
<head>
   <meta http-equiv="Content-Type" content="text/html; charset=UTF-8">
   <meta http-equiv="X-UA-Compatible" content="IE=edge">
   <meta name="viewport" content="width=device-width, initial-scale=1.0">
   <!-- The above 3 meta tags *must* come first in the head; any other head content must come *after* these tags -->
   <meta name="description" content="foostats.com, web version of game interface.">

   <link rel="stylesheet" href="/bower_components/angular-material/angular-material.min.css">
   <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/font-awesome/4.7.0/css/font-awesome.min.css">
   <script src="https://ajax.googleapis.com/ajax/libs/webfont/1.6.26/webfont.js"></script>
   <!-- <link rel="stylesheet" href="/styles/master.css"> -->
   <base href="/">

</head>
<style media="screen">
.layout-fill {
   height: 100%;
}
.timer {
	color: white;
	text-align: center;
}
</style>
<body ng-app="gameApp" id="gameOverviewContainer" ng-cloak>

   <div ng-controller="GameController as vm">
      <md-sidenav md-component-id="left" class="md-sidenav-left">
         <md-list>
            <md-subheader class="md-no-sticky">Menu</md-subheader>
            <md-list-item ng-click="vm.go('/dashboard')">
               <md-icon><i class="fa fa-user fa-lg" aria-hidden="true"></i></md-icon>
               <p>Dashboard</p>
            </md-list-item>
            <md-list-item ng-click="vm.go('/play')">
               <md-icon><i class="fa fa-trophy fa-lg" aria-hidden="true"></i></md-icon>
               <p>Game Menu</p>
            </md-list-item>
            <md-list-item ng-click="vm.go('/logout')">
               <md-icon><i class="fa fa-sign-out fa-lg" aria-hidden="true"></i></md-icon>
               <p>Logout</p>
            </md-list-item>
            <md-subheader class="md-no-sticky"></md-subheader>
         </md-list>
      </md-sidenav>
      <md-toolbar class="md-hue-2" layout>
         <div class="md-toolbar-tools">
            <md-button class="md-no-sticky md-button" ng-click="vm.go('/')">Foostats</md-button>
            <p  class="timer" ng-if="vm.gameDidStart" flex>{{vm.timerDisplayText}}</p>
				<span flex ng-if="!vm.gameDidStart"></span>
				<div>
					<md-button class="md-button md-accent" aria-label="Game" ng-click="openLeftMenu()">
	               <i class="fa fa-bars fa-lg" aria-hidden="true"></i>
	            </md-button>
				</div>
         </div>
      </md-toolbar>
      <span ng-view></span>
   </div>


   <!-- JQuery -->
   <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.1.1/jquery.min.js"></script>
   <!-- Angularjs -->
   <script src="/bower_components/angular/angular.min.js"></script>
   <!-- angular dependencies -->
   <script src="/bower_components/angular-animate/angular-animate.min.js"></script>
   <script src="/bower_components/angular-aria/angular-aria.min.js"></script>
   <script src="/bower_components/angular-messages/angular-messages.min.js"></script>
   <script src="/bower_components/angular-material/angular-material.min.js"></script>
   <script src="/bower_components/angular-route/angular-route.min.js"></script>
   <script src="/angular/js/app.js"></script>
   <script src="/angular/js/GameController.js"></script>
   <script src="/angular/js/APIService.js"></script>

</body>





</html>
