
<div class="mdl-grid">
   <div class="mdl-cell mdl-cell--6-col mdl-cell--4-col-phone">
      <div class="mdl-card mdl-shadow--4dp">
         <div class="mdl-card__title">
            <h2 class="mdl-card__title-text">FooStats.com</h2>
         </div>
         <div class="mdl-card__media"></div>
         <div class="mdl-card__supporting-text">
            Hosting the wildly famous and popular foosball stat tracking mobile app.
         </div>
         <div class="mdl-card__actions">
            <p class="mdl-typography--body-1">Click <a href="/docs">here</a> to read the docs.</p>
         </div>
      </div>
   </div>
   <div class="mdl-cell mdl-cell--6-col mdl-cell--4-col-phone">
      <? if (typeof user == 'undefined') { ?>
         <div class="mdl-card mdl-shadow--4dp">
            <div class="mdl-card__title">
               <h2 class="mdl-card__title-text">Login or Signup</h2>
            </div>
            <div class="mdl-card__media"></div>
            <div class="mdl-card__supporting-text">
               Log in or Sign up through Facebook
            </div>
            <div class="mdl-card__actions">
               <form class="" action="/auth/facebook" method="post">
                  <input type="image" src="images/fbLoginBtn.png" />
               </form>
            </div>
         </div>
      <? } ?>
   </div>
</div>
