<div class="page-wrap">
  <div class="page-header">

  </div>
   <div class="container">
      <div class="row">
         <div class="col-sm-8 col-md-8 col-lg-8">
               <h1 class="display-1">FooStats.com</h1>
               <p class="lead text-primary" style="word-wrap: break-word;">Hosting the wildly famous and popular foosball stat tracking mobile app.</p>
               <h1>API Documentation</h1>
               <p class="lead">Click <a href="/docs">here</a> to read the docs.</p>
         </div>
         <div class="col-sm-4 col-md-4 col-lg-4">
            <div class="panel panel-default">
               <div class="panel-heading text-center">
                  <h3 class="panel-title">Login or Sign up through Facebook</h3>
               </div>
               <div class="panel-body">
                  <form class="" action="/auth/facebook" method="post">
                     <button type="submit" class="btn btn-default" style="border:none;">
                     <!-- <button onclick="displayError()" class="btn btn-default" style="border:none;"> -->
                        <img src="images/fbLoginBtn.png" class="img-responsive" />
                     </button>
                  </form>
               </div>
            </div>
         </div>
      </div>
   </div>
</div>
<script>function displayError() { alert("Sorry, this isn't working yet!"); }</script>
