<!DOCTYPE html>

<html lang="en">
<head>
   <meta http-equiv="Content-Type" content="text/html; charset=UTF-8">
   <meta http-equiv="X-UA-Compatible" content="IE=edge">
   <meta name="viewport" content="width=device-width, initial-scale=1.0">
   <!-- The above 3 meta tags *must* come first in the head; any other head content must come *after* these tags -->
   <meta name="description" content="foostats.com rest api">

   <!-- <link href="/bootstrap-css/css/navbar.css" rel="stylesheet"> -->
   <link rel="stylesheet" href="https://fonts.googleapis.com/icon?family=Material+Icons">
   <link rel="stylesheet" href="https://code.getmdl.io/1.2.1/material.blue_grey-orange.min.css" />
   <link rel="stylesheet" href="https://fonts.googleapis.com/css?family=Roboto:regular,bold,italic,thin,light,bolditalic,black,medium&amp;lang=en">
   <link rel="stylesheet" href="https://fonts.googleapis.com/icon?family=Material+Icons">
   <link rel="stylesheet" href="/styles/master.css">
   <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.1.1/jquery.min.js"></script>
   
</head>

<body cz-shortcut-listen="true">

   <div class="mdl-layout mdl-js-layout mdl-layout--fixed-header">
      <header class="mdl-layout__header">
         <div class="mdl-layout__header-row">
            <span class="mdl-layout-title">FooStats</span>
            <div class="mdl-layout-spacer"><!-- Add spacer, to align navigation to the right --></div>
            <nav class="mdl-navigation mdl-layout--large-screen-only">
               <a class="mdl-navigation__link" href="/">Home</a>
               <a class="mdl-navigation__link" href="/docs">Docs</a>
               <a class="mdl-navigation__link" href="/dashboard">Dashboard</a>
               {% if (typeof user != 'undefined') { %}
               {% if(user.role == 'admin') { %}
               <a class="mdl-navigation__link" href="/admin">Admin</a>
               {% } %}
               <a class="mdl-navigation__link" href="/logout">Logout</a>
               {% } %}
            </nav>
         </div>
      </header>
      <div class="mdl-layout__drawer">
         <span class="mdl-layout-title">FooStats</span>
         <nav class="mdl-navigation">
            <a class="mdl-navigation__link" href="/">Home</a>
            <a class="mdl-navigation__link" href="/docs">Docs</a>
            <a class="mdl-navigation__link" href="/dashboard">Dashboard</a>
            {% if (typeof user != 'undefined') { %}
            {% if(user.role == 'admin') { %}
            <a class="mdl-navigation__link" href="/admin">Admin</a>
            {% } %}
            <a class="mdl-navigation__link" href="/logout">Logout</a>
            {% } %}
            {% if (typeof cow == 'moo') { %}
            <a href="#">Meow man</a>
            {% } %}
         </nav>
      </div>
      <main class="mdl-layout__content">
         <div class="page-content">
            {%- body %}
         </div>
      </main>
      <!-- large-screen footer -->
      <footer class="mdl-mega-footer mdl-layout--large-screen-only">
         <div class="mdl-mega-footer__top-section">
            <div class="mdl-mega-footer__left-section">
               <div class="mdl-mega-footer__drop-down-section">
                  <input class="mdl-mega-footer__heading-checkbox" type="checkbox" checked>
                  <h1 class="mdl-mega-footer__heading">About</h1>
                  <ul class="mdl-mega-footer__link-list">
                     <li><a href="/">FooStats.com</a></li>
                     <li><a target="_blank" href="https://www.linkedin.com/in/craig-blackburn-887691a5">Developed by Craig Blackburn</a></li>
                     <li><a target="_blank" href="https://heroku.com">Hosted by heroku.com</a></li>
                  </ul>
               </div>
            </div>
            <div class="mdl-mega-footer__right-section">
            </div>
         </div>
         <div class="mdl-mega-footer__middle-section">
            <div class="mdl-mega-footer__drop-down-section">
            </div>
            <div class="mdl-mega-footer__drop-down-section">
            </div>
         </div>
         <div class="mdl-mega-footer__bottom-section">
            <div class="mdl-logo">
            </div>
            <ul class="mdl-mega-footer__link-list">
            </ul>
         </div>
      </footer>
      <!-- END large footer -->

      <!-- small-screen footer -->
      <footer class="mdl-mini-footer mdl-layout--small-screen-only">
         <div class="mdl-mini-footer__left-section">
            <div class="mdl-logo">About</div>
            <ul class="mdl-mini-footer__link-list">
               <li><a href="/">FooStats.com</a></li>
               <li><a target="_blank" href="https://www.linkedin.com/in/craig-blackburn-887691a5">Developed by Craig Blackburn</a></li>
               <li><a target="_blank" href="https://heroku.com">Hosted by heroku.com</a></li>
            </ul>
         </div>
      </footer><!-- END small-screen footer -->
   </div>


   <script defer src="https://code.getmdl.io/1.2.1/material.min.js"></script>


</body>





</html>
