<style media="screen">
button, .mdl-button, .facebook-button {
	height: 50px;
	background-color: #ffa;
}
.facebook-button {
	display: block;
	margin: 0 auto;
}
.facebook-button > img {
	height: 36px;
	width: 200px;
}
.login-form {
	display: block;
	margin: 0 auto;
	width: auto;
}
</style>

<div class="mdl-grid">
	<div class="mdl-cell mdl-cell--12-col">
		<h3 class="text-align-center">Login</h3>
	</div>
	<div class="mdl-cell mdl-cell--3-col"></div>
	<div class="mdl-cell mdl-cell--6-col mdl-shadow--2dp">
		{% if (typeof message != 'undefined') { %}
		<p class="text-info padding text-align-center">{%= message %}</p>
		{% } %}
		{% if (typeof error != 'undefined') { %}
		<p class="padding text-align-center"><span class="text-danger">{%= error %}</span></p>
		{% } %}
	</div>
	<div class="mdl-cell mdl-cell--12-col">
		<form class="login-form" action="/auth/facebook" method="post">
			<button type="submit" class="mdl-button facebook-button" style="border:none;">
				<!-- <button onclick="displayError()" class="btn btn-default" style="border:none;"> -->
				<img src="images/fbLoginBtn.png" class="" />
			</button>
		</form>
	</div>
</div>
