
<div class="mdl-grid">
   <div class="mdl-cell mdl-cell--12-col">
      <h3>Admin Dashboard</h3>
   </div>
</div>
{% if (typeof message != 'undefined' || typeof error != 'undefined') { %}
<div class="mdl-grid">
	{% if(typeof message != 'undefined') { %}
   <div class="mdl-cell mdl-cell--6-col mdl-shadow--2dp mdl-card">
      <div class="mdl-card__title">
         MESSAGES
      </div>
      <div class="mdl-card__supporting-text">
         <p class="text-info">{%- message %}</p>
      </div>
   </div>
	{% } %}
	{% if(typeof error != 'undefined') { %}
   <div class="mdl-cell mdl-cell--6-col mdl-shadow--2dp mdl-card">
      <div class="mdl-card__title">
         ERRORS
      </div>
      <div class="mdl-card__supporting-text">
         <p>Error: <span class="text-danger">{%- error %}</span></p>
      </div>
   </div>
	{% } %}
</div>
{% } %}

<div class="mdl-grid">
	<form style="padding-left: 8px;"action="/admin/create/player" method="get">
		<button type="submit" name="createPlayer" class="mdl-button mdl-button--raised mdl-button--accent">Create Player +</button>
	</form>
	<form style="padding-left: 8px;" action="/admin/createdummies" method="get">
		<button type="submit" name="createDummies" class="mdl-button mdl-button--raised mdl-button--accent">Create Dummy Players +</button>
	</form>
   <form style="padding-left: 8px;" action="/admin/delete/teams" method="get">
		<button type="submit" class="mdl-button mdl-button--raised mdl-button--accent">Delete Teams -</button>
	</form>
   <div class="mdl-cell mdl-cell--10-col">
      <table class="mdl-data-table">
         <thead>
            <tr>
               <th class="mdl-data-table__cell--non-numeric mdl-layout--large-screen-only">#</th>
               <th class="mdl-data-table__cell--non-numeric mdl-layout--small-screen-only">Name</th>
               <th class="mdl-data-table__cell--non-numeric mdl-layout--large-screen-only">First Name</th>
               <th class="mdl-data-table__cell--non-numeric mdl-layout--large-screen-only">Last Name</th>
               <th class="mdl-data-table__cell--non-numeric mdl-layout--large-screen-only">Email</th>
               <th class="mdl-data-table__cell--non-numeric mdl-layout--large-screen-only">Role</th>
               <th></th>
               <th></th>
            </tr>
         </thead>
         <tbody>
				{% var count = 1; %}
            {% _.forEach(players, function(player) { %}
               <tr>
                  <th class="mdl-data-table__cell mdl-layout--large-screen-only">{%= count++ %}</th>
                  <td class="mdl-data-table__cell--non-numeric mdl-layout--small-screen-only">{%= player.firstName %} {%= player.lastName %}</td>
                  <td class="mdl-data-table__cell--non-numeric mdl-layout--large-screen-only">{%= player.firstName %}</td>
                  <td class="mdl-data-table__cell--non-numeric mdl-layout--large-screen-only">{%= player.lastName %}</td>
                  <td class="mdl-data-table__cell--non-numeric mdl-layout--large-screen-only">{%= player.email %}</td>
                  <td class="mdl-data-table__cell--non-numeric mdl-layout--large-screen-only">{%= player.role %}</td>
                  <form action="/admin/update?uuid={%= player.uuid %}" method="post">
                     <td>
                        <button type="submit" class="mdl-button mdl-button--raised mdl-button-success">edit</button>
                     </td>
                  </form>
                  <form action="/admin/delete/player" method="post">
                     <td>
                        <button type="submit" class="mdl-button mdl-button-raised mdl-button-alert">delete</button>
                     </td>
                     <input type="hidden" name="uuid" value="{%= player.uuid %}">
                  </form>
               </tr>
               {% }); %}
            </tbody>
      </table>
   </div>
</div>
