<style media="screen">
.clearfix {
   overflow: auto;
}
</style>
<div class="mdl-grid">
   <div class="mdl-cell mdl-cell--12-col">
      <h5>Create New Player</h5>
   </div>
</div>
<form action="/admin/create/player" method="post" class="clearfix">
   <div class="mdl-grid">
      <div class="mdl-cell mdl-cell--12-col mdl-cell--col-8-table mdl-cell--col-4-phone mdl-shadow--2dp">
         <div class="mdl-grid">
            <div class="mdl-cell mdl-cell--6-col mdl-cell--4-col-tablet mdl-cell--4-col-phone">
               <div class="mdl-cell mdl-cell--12-col mdl-cell--4-col-tablet mdl-cell--4-col-phone">
                  <div class="mdl-textfield mdl-js-textfield mdl-textfield--floating-label">
                     <input class="mdl-textfield__input" type="text" id="fn" name="firstName" value="">
                     <label class="mdl-textfield__label" for="fn">First name</label>
                  </div>
               </div>
               <div class="mdl-cell mdl-cell--12-col mdl-cell--4-col-tablet mdl-cell--4-col-phone">
                  <div class="mdl-textfield mdl-js-textfield mdl-textfield--floating-label">
                     <input class="mdl-textfield__input" type="text" id="ln" name="lastName" value="">
                     <label class="mdl-textfield__label" for="ln">Last name</label>
                  </div>
               </div>
               <div class="mdl-cell mdl-cell--12-col mdl-cell--4-col-tablet mdl-cell--4-col-phone">
                  <div class="mdl-textfield mdl-js-textfield mdl-textfield--floating-label">
                     <input class="mdl-textfield__input" type="text" id="email" name="email" value="">
                     <label class="mdl-textfield__label" for="email">Email address</label>
                  </div>
               </div>
               <div class="mdl-cell mdl-cell--12-col mdl-cell--4-col-tablet mdl-cell--4-col-phone">
                  <button class="mdl-button mdl-js-button mdl-button--raised mdl-js-ripple-effect mdl-button--accent" type="submit">Submit</button>
               </div>
            </div>
            <div class="mdl-cell mdl-cell--6-col mdl-cell--4-col-tablet mdl-cell--4-col-phone">
               <div class="mdl-cell mdl-cell--6-col mdl-cell--4-col-tablet mdl-cell--4-col-phone">
                  <p>Role</p>
                  <ul class="mdl-list">
                     <li class="mdl-list__item">
                        <span class="mdl-list__item-primary-content">
                           <label class="mdl-radio mdl-js-radio mdl-js-ripple-effect" for="role-admin">
                              Admin <input type="radio" id="role-admin" class="mdl-radio__button mdl-js-ripple-effect" name="role" value="admin" />
                           </label>
                        </span>
                     </li>
                     <li class="mdl-list__item">
                        <span class="mdl-list__item-primary-content">
                           <label class="mdl-radio mdl-js-radio mdl-js-ripple-effect" for="role-basic">
                              Basic <input type="radio" id="role-basic" class="mdl-radio__button mdl-js-ripple-effect" name="role" value="basic" checked />
                           </label>
                        </span>
                     </li>
                  </ul>
               </div>
            </div>
         </div>
      </div>
   </div>
</form>

<!-- <div class="page-wrap">
<div class="container">
<div class="panel panel-default">
<div class="panel-heading">
<p id="panel-message" class="text-danger"></p>
</div>
<div class="panel-body">
<table class="table table-inverse">
<thead>
<tr>
<th id="fn">first name</th>
<th id="ln">last name</th>
<th id="em">email</th>
<th>role</th>
<th></th>
</tr>
</thead>
<tbody>
<tr>
<form class="form-group" action="/admin/create/player" onsubmit="return validateFields()" method="post" name="form">
<td><input class="form-control" type="text" name="firstName" value=""></td>
<td><input class="form-control" type="text" name="lastName" value=""></td>
<td><input class="form-control" type="text" name="email" value=""></td>
<td>
<label class="radio-inline control-label">
<input type="radio" name="role" value="basic" checked>
basic
<br>
<input type="radio" name="role" value="admin">
admin
</label>
</td>
<td><button type="submit" class="btn btn-success">Create</button></td>
</form>
</tr>
</tbody>
</table>
</div>
</div>
</div>
</div> -->

<script src="/js/validateFields.js"></script>
