<style media="screen">
.mdl-cell > .mdl-button {
	display: block;
	margin: 8px;
}
.text-center {
	text-align: center;
}
.player-connection-card.mdl-card {
	margin: 0 auto;
	width: 250px;
}
.player-connection-card h1 {
	text-align: center;
	margin: 0 auto;
	padding: 8px 0 8px 0;
	font-size: 16px;
}
.mdl-card__supporting-text > p {
	padding: 0;
	margin: 0;
}
</style>

<div class="mdl-grid">
	<div class="mdl-cell mdl-cell--12-col">
		<h5>{%= user.firstName %}'s Dashboard</h5>
	</div>
</div>
<div class="mdl-grid">
	<div class="mdl-cell mdl-cell--12-col mdl-shadow--2dp padding">
		{% if (user.username) { %}
		<p><strong>Username</strong> {%= user.username %}</p>
		{% } %}
		{% if (user.email) { %}
		<p><strong>Email</strong> {%= user.email%}</p>
		{% } %}
		{% if (user.firstName || user.lastName) { %}
		<p><strong>Name</strong> {%= user.firstName + ' ' + user.lastName %}</p>
		{% } %}
	</div>
	<div class="mdl-cell mdl-cell--12-col padding">

	</div>

</div>


<div class="mdl-grid">
	<div class="mdl-cell mdl-cell--12-col">
		{% if (user.teams) { %}
		<h5>You do not belong to any teams.</h5>
		{% } else { %}
		<h5>You do not belong to any teams.</h5>
		{% } %}
	</div>

	<div class="mdl-cell mdl-cell--8-col mdl-shadow--2dp">
		<button type="button" class="mdl-button mdl-js-button mdl-button--raised mdl-button--accent" name="findTeams">Find Players +</button>
	</div>
	<div class="mdl-cell mdl-cell--4-col mdl-shadow--2dp">
		<h6 class="text-center">Connections</h6>
		<div class="player-connection-card mdl-card mdl-shadow--2dp">
			<div class="mdl-card__title mdl-card--expand">
				<div class="mdl-card__title-text">
					<h1>Player Name</h1>
				</div>
			</div>
			<div class="mdl-card__media">
				<img src="/images/image-placeholder.png" alt="">
			</div>
			<div class="mdl-card__supporting-text">
				<p>[player name] has 10 wins</p>
				<p>[player name] is ranked 3/10 players</p>
			</div>
			<div class="mdl-card__actions mdl-card--border">
				<a class="mdl-button mdl-button--colored mdl-js-button mdl-js-ripple-effect">
					Create Team
				</a>
			</div>
		</div>
		<br>
	</div>
</div>
