html,body {
   font-family: 'Roboto', 'Helvetica', sans-serif;
}
.mdl-grid {
   max-width: 1000px;
}

.text-left {
   text-align: left !important;
}

.text-left::after {
   text-align: left !important;
}

code {
   color: #FF1493;
}

.container-route {
   background-color: #EFEFEF;
}

.text-danger {
   color: red;
}

.text-info {
   color: #4169e1;
}
