body {
	display: flex;
	min-height: 100vh;
	flex-direction: column;
}

main {
	flex: 1 0 auto;
}

html,body {
	font-family: 'Roboto', 'Helvetica', sans-serif;
}
.mdl-grid {
	max-width: 1000px;
}
.mdl-data-table > tr:nth-child(even) {
	background-color: #f2f2f2;
	/*border: solid lightgray;
	border-width: 1px;
	border-collapse: collapse;*/
}
th.mdl-data-table__cell {
	vertical-align: middle !important;
	padding: 0;
}
.mdl-cell > .mdl-button {
	display: block;
	margin: 8px;
}
.text-center {
	text-align: center;
}
.player-connection-card.mdl-card {
	margin: 0 auto;
	width: 250px;
}
.player-connection-card h1 {
	text-align: center;
	margin: 0 auto;
	padding: 8px 0 8px 0;
	font-size: 16px;
}
.mdl-card__supporting-text > p {
	padding: 0;
	margin: 0;
}
.text-left, .text-left::after {
	text-align: left !important;
}
.padding {
	padding: 1%;
}
code {
	color: #FF1493;
}

ul.footer-list {
	list-style-type: none;
	padding: 0;
}

ul.footer-list li a {
	text-decoration: none;
	color: grey;
}

ul.footer-list li a:hover {
	color: #D3D3D3;
}

.container {
	margin-left: 20%;
	width: 60%;
}

.background-red {
	background-color: #b20000;
}

.background-blue {
	background-color: #3399ff;
}

.background-green {
	background-color: #009933;
}

.padding {
	padding: 0.5%;
}

.container-route {
	background-color: #EFEFEF;
}

.text-danger {
	color: red;
}

.text-info {
	color: #4169e1;
}

.text-success {
	color: #228b22;
}

.text-align-center {
	text-align: center;
}

.text-align-left {
	text-align: left;
}

.text-align-right {
	text-align: right;
}

.mdl-button-success {
	background-color: #228b22;
	color: white;
}

.mdl-button-alert {
	background-color: #cd0000;
	color: white;
}
