<style media="screen">
   .blue-team {
      border: solid blue;
      border-width: 2px;
      border-radius: 3px;
   }
   .red-team {
      border: solid red;
      border-width: 2px;
      border-radius: 3px;
   }
</style>

<md-content layout="column" class="md-padding" layout-align="space-around stretch">
   <md-subheader class="md-no-sticky">Blue Team</md-subheader>
   <div layout class="blue-team md-padding">
      <md-button class="md-button md-raised" ng-repeat="player in vm.getBlueTeam()" ng-click="vm.removePlayer(player)">{{player.name}}</md-button>
   </div>
   <br>
   <md-subheader class="md-no-sticky">Red Team</md-subheader>
   <div layout class="red-team md-padding">
      <md-button class="md-button md-raised" ng-repeat="player in vm.getRedTeam()" ng-click="vm.removePlayer(player)">{{player.name}}</md-button>
   </div>
   <br>
   <div flex role="search-bar">
      <md-input-container class="md-block">
         <label><i class="fa fa-search" aria-hidden="true"></i></label>
         <input ng-model="vm.query" ng-change="vm.search()" ng-disabled="vm.isReady" />
     </md-input-container>
   </div>



   <div class="md-padding" layout="column">
      <md-list class="fixedRows">
         <md-list-item class="md-2-line" ng-repeat="player in vm.players" ng-click="vm.addPlayer(player)">
            <div class="md-list-item-text compact">
               <h3>{{player.name}}</h3>
               <p>{{player.email}}</p>
            </div>
         </md-list-item>
      </md-list>
   </div>
   <md-button class="md-raised" ng-click="vm.startGame()" ng-disabled="!vm.isReady">Start Game</md-button>
</md-content>
