<!-- <div layout="column">
   <h2>Blue Team</h2>
   <h4>player 1</h4>
   <div layout="row" class="md-padding">
      <div flex style="background-color: blue; height: 100px; width: 100px; color: white;">
         <h1>+</h1>
      </div>
      <div flex style="background-color: blue; height: 100px; width: 100px; color: white;">
         <h1>-</h1>
      </div>
   </div>
   <h4>player 2</h4>
   <div layout class="md-padding">
      <div flex style="background-color: blue; height: 100px; width: 100px; color: white;">
         <h1>+</h1>
      </div>
      <div flex style="background-color: blue; height: 100px; width: 100px; color: white;">
         <h1>-</h1>
      </div>
   </div>
   <hr>
   <h2>Red Team</h2>
   <div layout="row" class="md-padding">
      <div flex style="background-color: red; height: 100px; width: 100px; color: white;">
         <h1>+</h1>
      </div>
      <div flex style="background-color: red; height: 100px; width: 100px; color: white;">
         <h1>-</h1>
      </div>
   </div>
   <h4>player 2</h4>
   <div layout class="md-padding">
      <div style="background-color: red; height: 100px; width: 100px; color: white;">
         <h1>+</h1>
      </div>
      <div style="background-color: red; height: 100px; width: 100px; color: white;">
         <h1>-</h1>
      </div>
   </div>
</div> -->
